
.centerd-form {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(5, 152, 189, 0.6);
}

/* Styles for 'form' elements */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
  
 }
 

